/* mobile default font-size */
body{
  font-size: 1.5rem;
  /* background-color: pink; */
}
/* mobile layout */
.appHeader,
.appMain {
  width: 100%;
}
/* mobile header */

.appHeader{
  grid-template: auto / 1fr;
  background-color: #38302e;
}
.brand .memberOnly .searchForm{
  padding: 10px 20px;
}
/* mobile brand */

.brand *{
  display: block;
}
/* mobile member link */
.memberOnly{
  order: -1;
  background-color: #988574;
  color: #fff;  
}
/* mobile search form */

input[type="search"]{
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 2px 5px;
  height: 35px;
  width: calc(100% - 45px);
  /* inline-block     white space 때문에 35에서 더빼줘야댐  */
  margin-right: 5px;
}
.resetBox{
  margin: 5px 10px;
}
.buttonSearch{
  width: 35px;
  height: 35px;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;

}
.buttonSearch::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./images/btn_search.png) 0 0 / cover no-repeat scroll;
}

/* mobile navigation */
.appNavigation{
  position: fixed;
  /* : viewport 기준 배치 */
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  transform: translateX(-100%);
}
/* mobile main contents */
.appMain{
}
/* mobile footer */
.appFooter{
}

